.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100vw;
	padding: 15px;
	background-color: cornsilk;
	color: gray;
}

.header-info {
	width: 66%;
}

.header-nav {
	width: 33%;
	display: flex;
}

.nav-item {
	width: 50%;
	margin-top: 10vh;
}

.main-gallery {
	width: calc(100vw - 40px)
}

.main-gallery-img {
	width: calc(25% - 20px);
	margin: 3px;
	border-radius: 5px;
	height: 250px;
}

.main-gutter {
	width: 20px;
}

@media only screen and (max-width: 600px) {
	.main-gallery-img {
		width: calc(50% - 20px);
	}
}