.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	display: flex;
	flex-direction: row;
	width: 100vw;
	padding: 15px;
	background-color: cornsilk;
	color: gray;
}

.header-info {
	width: 66%;
}

.header-nav {
	width: 33%;
	display: flex;
}

.nav-item {
	width: 50%;
	margin-top: 10vh;
}

.main-gallery {
	width: calc(100vw - 40px)
}

.main-gallery-img {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	height: 250px;
	display: block;
}

.main-gutter {
	width: 20px;
}

@media only screen and (max-width: 600px) {
	.main-gallery-img {
		width: calc(100% - 20px);
		margin: auto;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		opacity: 0.6;
	}
	.header-nav {
		flex-direction: column;
	}
}